<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE NEW POST</title>
</head>
<body>
    <form method ="post" action="/posts">
    <input placeholder ="eneter username" name="username"/><br/><br/>
    <textarea placeholder="write your posts" name ="content"></textarea><br/>
    <button type ="submit">SUBMIT POSTS</button>
    </form>
</body>
</html>